/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* start styling here */

@font-face {
  font-family: 'roboto_regular';
  src: url('../roboto-woff-woff2/roboto-regular-webfont.woff') format('woff')
    url('../roboto-woff-woff2/roboto-regular-webfont.woff2') format('woff2');
  font-weight: normal;
}

*,
*::before,
*::after {
  --arrow-forward-with: 24px;
  --arrow-forward-height: 100%;

  --arrow-back-with: 24px;
  --arrow-back-height: 100%;
}

body {
  background-color: white;
}

main {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.arrow_forward > figure > img {
  height: 100%;
  width: 24px;
}

.arrow_back > figure > img {
  height: 100%;
  width: 24px;
}

div#image_slider_navigation {
  background-color: #ffffff;
  display: flex;
  padding: 0.1rem 0rem;
}

button.arrow_back > figure,
button.arrow_forward > figure {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
}

button.arrow_back,
button.arrow_forward {
  appearance: none;
  background-color: #ffffff00;
  border-color: #ffffff00;
  border-radius: 0.75rem;
  border-width: 0px;
  margin: 0.1rem 0.2rem;
  padding: 0.2rem 1rem;
  cursor: pointer;
}

button.arrow_back:hover,
button.arrow_forward:hover {
  border: 1px solid #ffffff80;
  background-color: #ffffff80;
}

button.arrow_back:active,
button.arrow_forward:active {
  opacity: 60%;
}

button.arrow_forward > figure > figcaption,
button.arrow_back > figure > figcaption {
  position: absolute;
  scale: 0;
}

.circles {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 1rem;
  z-index: 2;
}

.circles > button {
  appearance: none;
  background-color: lightgray;
  border-radius: 50%;
  border: 2px solid #ffffff80;
  font-size: 1px;
  color: transparent;
  margin: 0 2px;
  padding: 0.5rem;
}

.circles > button.active_button {
  background-color: black;
}

div#image_carousel {
  align-items: center;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100ch;
}

.hero_image {
  background-color: lightgray;
  display: flex;
  height: 100%;
  justify-content: start;
  overflow: hidden;
  width: 100ch;
  position: relative;
  border-radius: 0.75rem;
}

.hero_image > figure {
  background-color: #d3d3d3;
  height: 100%;
  transition: transform 200ms cubic-bezier(0, 0.59, 0.59, 0.99);
}

.hero_image > figure > figcaption {
  position: absolute;
  scale: 0;
}
.hero_image > figure > img {
  width: 100ch;
  height: auto;
}

.circles .current_image {
  background-color: black;
}

nav.previous_image {
  left: 0;
}

nav.next_image {
  right: 0;
}

nav.previous_image,
nav.next_image {
  display: flex;
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 2;
}
